.Layout {
  background-color: #F1F2F5 !important;
  min-height: 100vh;

  .head {
    margin: 40px 0px;
  }

  .content {
    max-height: 100vh;
    overflow: auto;
    margin-top: 2%;
    margin-left: 150px;

    margin-right: 2%;

    h1 {
      color: hsl(257, 27%, 26%);
    }
  }

  .children_content {
    margin-right: 20px;
  }
}