.Layout {
  background-color: #F1F2F5 !important;
  min-height: 100vh;

  .head {
    margin: 40px 0px;
  }

  .content {
    overflow: auto;
    margin: 30px 20px 0px 140px;

    h1 {
      color: hsl(257, 27%, 26%);
    }
  }

  @media (max-width: 500px) {
    .content {
      margin-left: 0px;
    }
  }

  .children_content {
    margin-right: 20px;
  }
}