.Header {
  height: 120px;
  background-color: white;
  margin-left: 100px;

  .heading {
    padding: 10px 0px 0px 20px;
    display: flex;
    flex-direction: column;
  }

  .form-control {
    padding: 0;
  }

  .custom-input {
    color: #272833;
    border: none;
    font-size: 1.77em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif !important;
  }

  .secondary {
    font-size: 1.13em !important;
    font-weight: 300;
    color: #A7A9BC;
  }
}  

@media (max-width: 500px) {
  .Header {
    margin-left: 0px;
  }
}